.page-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cat-slider {
    margin-top: 20px;
    position: relative;
    width: 85%;
    height: 550px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: background 0.8s ease-in-out;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
    margin-top: 20%;
}

.content span {
    font-size: 75px;
    font-weight: 300;
    font-family: sans-serif;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.button {
    margin-top: 20px;
    width: fit-content;
    display: inline-block;
    padding: 10px 20px;
    background-color: #db7a34;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.8s ease-in-out;
}

.button:hover {
    background-color: #60b929;
}

.featured-categories {
    width: 100%;
}

.products-container-cat-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.prod {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.prod-img-container {
    width: 90%;
    height: 60%;
}

.prod-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.product-name {
    font-size: 24px;
    font-weight: 500;
    font-family: monospace;
}
.section-cat-star {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.rating-container {
    display: flex;
    margin-top: 10px;
}

.star-filled {
    font-size: 24px;
    color: #ffcc00;
}

.cart-button {
    background-color: transparent;
    outline: none;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.cart-button:hover {
    color: #38641c;
}
