.categories-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories-container {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.category-item {
    text-align: center;
    margin: 0 25px;
}

.category-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 10px 10px 20px rgb(46, 44, 44);
    cursor: pointer;
}

.category-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-name {
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
}

.category-circle:hover {
    transform: scale(1.1);
}

.trending-products {
    display: flex;
    flex-direction: column;
    width: 95%;
    width: 100%;
    margin-top: 40px;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 650;
    color: #1c140d;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-color: #e5e8eb;
    padding: 10px;
}

.categories-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.category-box {
    margin-top: 50px;
    background-color: #eee;
    padding: 20px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 20px 20px 34px rgba(0, 0, 0.03);
    border-radius: 18px;
    transition: 1s ease-in-out;
}

.cat-title {
    font-size: 26px;
    font-weight: 600;
}

.product-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.product-image {
    margin-top: 10px;
    background-color: #bebebe;
    width: 150px;
    gap: 10px;
    padding: 5px;
}

.cat-CTA {
    margin: 20px auto;
}

button {
    background-color: rgba(179, 181, 184, 0.784);
    padding: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(2, 2, 2);
    font-size: 20px;
    font-weight: 800;
}
.category-box:hover {
    transform: scale(0.05);
}
