.footer-container {
    margin-top: 50px;
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
}
.col {
    display: flex;
    flex-direction: column;
    margin: 15px;
    .col-title {
        color: #1c140d;
        font-size: 20px;
        font-weight: 500;
    }
    .col-content {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        span {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 7px;
            font-size: 16px;
            font-weight: 200;
            color: #1c140d;
        }
        .play-app-store {
            width: 150px;
            height: 45px;
            background-color: #111;
            box-shadow: 10px 10px 20px rgb(56, 54, 54);
            font-size: 24px;
            color: #eee;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
